@page "/fullclears"
@attribute [Authorize]

@using EliteInsider.Models
@using EliteInsider.Data

<PageTitle>Fullclears</PageTitle>

<h1>Fullclears</h1>

<p>This page lets you select data about the guilds fullclears</p>

<MudGrid>
    <MudItem xs="3">
        <MudDatePicker PickerVariant="PickerVariant.Dialog" Label="Start Date" Text="2020-10-19" DisableToolbar="true"/>
    </MudItem>
    <MudItem xs="3">
        <MudDatePicker PickerVariant="PickerVariant.Dialog" Label="End Date" Text="2020-10-19" DisableToolbar="true"/>
    </MudItem>
</MudGrid>

@code {

}
