@page "/fullclears/personal-best"
@attribute [Authorize]

@using EliteInsider.Models;
@using EliteInsider.Models.Converters;
@using EliteInsider.Data;

@inject NavigationManager UriHelper
@inject IRaidLogService LogService;

<h1>Personal Best</h1>

<p>This page shows the guilds personal best times.</p>

<MudGrid>
    @foreach (var item in personalBests)
    {
        <MudItem xs="3">
            <MudCard style="cursor: pointer" @onclick="@(() => UriHelper.NavigateTo(item.LinkToUpload))">
                <MudCardContent>
                    <table width="100%">
                        <tr>
                            <td style="white-space: nowrap;">
                                <MudImage Src="@item.BossImage" Height="64" Width="64"></MudImage>
                            </td>
                            <td style="white-space: nowrap;" width="99%">
                                <MudText Typo="Typo.h6" Color="Color.Tertiary" Align="Align.Center">@item.EncounterName</MudText>
                                <MudText Typo="Typo.body1" Align="Align.Center">@item.GetDurationToString()</MudText>
                            </td>
                        </tr>
                    </table>
                </MudCardContent>
            </MudCard>
        </MudItem>
    }
</MudGrid>

@code {
    public IReadOnlyList<EliteInsider.Models.Converters.PersonalBest> personalBests = new List<EliteInsider.Models.Converters.PersonalBest>();

    async Task OnCardClick(EliteInsider.Models.Converters.PersonalBest personalBest)
    {
        UriHelper.NavigateTo(personalBest.LinkToUpload);
    }

    protected override async Task OnInitializedAsync()
    {
        personalBests = await LogService.GetPersonalBestsAsync();
    }
}
