<AuthorizeView>
    <Authorized>
        <MudLink class="px-3" Color="Color.Primary" Href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</MudLink>
        <form method="post" action="Identity/Account/Logout">
            <MudButton Variant="Variant.Text" Color="Color.Secondary" ButtonType="ButtonType.Submit">Log out</MudButton>
        </form>
    </Authorized>
    <NotAuthorized>
        <MudLink class="px-3" Color="Color.Primary" Href="Identity/Account/Register">Register</MudLink>
        <MudLink class="px-3" Color="Color.Primary" Href="Identity/Account/Login">Log in</MudLink>
    </NotAuthorized>
</AuthorizeView>
